<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<main layout:fragment="content" class="main">

    <div class="coming-soon-area bg-img background-overlay" style="background-image: url(img/bg-img/b9.jpg);">
    <header>
    <!-- Logo Area -->
    <div class="logo-area text-center">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <a href="/" class="original-logo"><img src="static/img/core-img/logo2.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Coming Soon Area Start ##### -->
    <div class="coming-soon-timer text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="coming-soon-content">
                        <div class="sonar-wrapper">
                            <div class="sonar-emitter">
                                <div class="sonar-wave">
                                </div>
                            </div>
                        </div>
                        <p>our website is coming soon</p>
                    </div>
                    <div id="clock" class="d-flex align-items-center justify-content-between"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Coming Soon Area End ##### -->

    <!-- ##### Contact Area Start ##### -->
    <div class="contact-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Contact Form Area -->
                <div class="col-12 col-md-10 col-lg-9">
                    <div class="contact-form">
                        <h5>Get in Touch</h5>
                        <!-- Contact Form -->
                        <form action="/login" method="post" id="contact-form" class="contact-form">
                            <h3 class="mb-4 text-center">LOGIN</h3>
                            <div class="row">
                                <div class="col-12">
                                    <div class="group">
                                        <input type="text" name="userId" id="userId" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>아이디</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="group">
                                        <input type="text" name="userPw" id="userPw" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>비밀번호</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn original-btn">로그인</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12 col-md-10 col-lg-3">
                    <div class="post-sidebar-area">
                        <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <h5 class="title subscribe-title">Subscribe to my newsletter</h5>
                            <div class="widget-content">
                                <form action="#" class="newsletterForm">
                                    <input type="email" name="email" id="subscribesForm" placeholder="Your e-mail here">
                                    <button type="submit" class="btn original-btn">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Contact Area End ##### -->
    </div>

</main>
</html>