<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

    <main layout:fragment="content" class="main">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-12 col-lg-4">
                    <div class="single-blog-area clearfix ">
                        <div class="single-blog-content">
                            <div class="line"></div>
                            <a href="#" class="post-tag">Original #1</a>
                            <h4><a href="#" class="post-headline">전시 · 이벤트</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- section 1 (Slides) -->
        <div class="hero-area">
            <!-- Slides -->
            <div class="hero-slides owl-carousel">
                <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/index1.jpeg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
<!--                            <div class="col-12">-->
<!--                                <div class="slide-content text-center">-->
<!--                                    <div class="post-tag">-->
<!--                                        <a href="#" data-animation="fadeInUp">lifestyle</a>-->
<!--                                    </div>-->
<!--                                    <h2 data-animation="fadeInUp" data-delay="250ms"><a href="/">Take a look at last night’s party!</a></h2>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/index2.jpeg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                        </div>
                    </div>
                </div>
                <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/index3.jpeg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                        </div>
                    </div>
                </div>
                <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/index4.jpeg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                        </div>
                    </div>
                </div>
                <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/index5.jpeg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- section 2, 3 (Category, Recommend) -->
        <div class="blog-wrapper section-padding-100 clearfix">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-12 col-lg-4">
                        <div class="single-blog-area clearfix mb-100">
                            <div class="single-blog-content">
                                <div class="line"></div>
                                <a href="#" class="post-tag">Original #2</a>
                                <h4><a href="#" class="post-headline">도서</a></h4>
                                <p>2024년부터 시작된 도서관 Original은 책주인이 공유를 전제로 책을 보관하고, 모인 책들을 다른 많은 사람들이 무료로 빌려읽을 수 있도록 도와주는 온라인 도서 공유 플랫폼입니다. <br>
                                    책을 사랑하시는 전국의 수많은 분들이 풍요로운 독서생활을 누리시면 좋겠습니다.
                                </p>
                                <a href="/list" class="btn original-btn">전체 보기</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-catagory-area clearfix mb-100">
                            <img src="img/blog-img/illustration1.jpeg" alt="">
                            <div class="catagory-title">
                                <a href="/list?categoryId=001">문학</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-catagory-area clearfix mb-100">
                            <img src="img/blog-img/illustration2.jpeg" alt="" style="padding-bottom:20px">
                            <div class="catagory-title">
                                <a href="/list?categoryId=002">비문학</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                    <div class="row align-items-end">
                        <div class="col-12 col-lg-4">
                            <div class="single-blog-area clearfix ">
                                <div class="single-blog-content">
                                    <div class="line"></div>
                                    <a href="#" class="post-tag">Original #3</a>
                                    <h4><a href="#" class="post-headline">추천</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1000ms">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-6">
                                    <div class="single-blog-thumbnail">
                                        <img src="img/blog-img/book1.jpeg" alt="">
<!--                                        <div class="post-date">-->
<!--                                            <a href="#">01 <span>4월</span></a>-->
<!--                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="single-blog-content">
                                        <div class="line"></div>
                                        <a href="#" class="post-tag">추천 도서 01</a>
                                        <h4><a href="#" class="post-headline">철도원 삼대</a></h4>
                                        <p>거장 황석영이 더 강력한 이야기로 돌아왔다!<br>
                                            한반도 100년의 역사를 꿰뚫는 방대하고 강렬한 서사의 힘<br>
                                            한반도 백년의 역사를 꿰뚫는 『철도원 삼대』. 이 작품은 철도원 가족을 둘러싼 방대한 서사를 통해 일제강점기부터 해방 전후 그리고 21세기까지 이어지는 노동자와 민중의 삶을 실감나게 다루고, 사료와 옛이야기를 절묘하게 넘나들며 대한민국 근현대사를 문학적으로 탁월하게 구현해냈다.
                                        </p>
                                        <div class="post-meta">
                                            <p>저자 <a href="#">황석영</a></p>
<!--                                            <p>12 REVIEWS</p>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1000ms">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-6">
                                    <div class="single-blog-thumbnail">
                                        <img src="img/blog-img/book2.jpeg" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="single-blog-content">
                                        <div class="line"></div>
                                        <a href="#" class="post-tag">추천 도서 02</a>
                                        <h4><a href="#" class="post-headline">무엇이 나를 행복하게 만드는가</a></h4>
                                        <p>인생 코치 ‘리처드 J. 라이더’의 대표작<br>
                                            30여 년 동안 사랑받은 베스트셀러의 시대를 초월한 메시지<br>
                                            “당신은 더 나은 삶을 살아갈 자격이 있다”<br>
                                            아무 걱정 없이 행복하게 웃어본 적이 언제인지 기억이 나는가? 어느 순간부터 행복과 활기를 잊고 정체된 삶을 살아가고 있다.
                                            포브스가 선정한 TOP 5 코치에 선정된 리처드 J. 라이더의 대표작 《무엇이 나를 행복하게 만드는가》는 행복한 삶이란 무엇인지 근본적인 물음을 던진다.</p>
                                        <div class="post-meta">
                                            <p>저자 <a href="#">리처드 J. 라이더, 데이비드 A. 샤피로</a></p>
<!--                                            <p>6 REVIEWS</p>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1000ms">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-6">
                                    <div class="single-blog-thumbnail">
                                        <img src="img/blog-img/book3.jpeg" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="single-blog-content">
                                        <div class="line"></div>
                                        <a href="#" class="post-tag">추천 도서 03</a>
                                        <h4><a href="#" class="post-headline">모순</a></h4>
                                        <p>인생은 탐구하면서 살아가는 것이 아니라, 살아가면서 탐구하는 것이다.<br>
                                            실수는 되풀이된다. 그것이 인생이다…….<br>
                                            『모순』은 작가 양귀자가 1998년 펴낸 세 번째 장편소설로, 책이 나온 지 한 달 만에 무서운 속도로 베스트셀러 1위에 진입, 출판계를 놀라게 하고 그해 최고의 베스트셀러로 자리 잡으면서 ‘양귀자 소설의 힘’을 다시 한 번 유감없이 보여준 소설이다.
                                        </p>
                                        <div class="post-meta">
                                            <p>저자 <a href="#">양귀자</a></p>
<!--                                            <p>159 REVIEWS</p>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sidebar Area -->
                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="post-sidebar-area">
                            <div class="sidebar-widget-area">
                                <h5 class="title">태그</h5>
                                <div class="widget-content">
                                    <ul class="tags">
                                        <li><a href="/list">전체</a></li>
                                        <li><a href="/list?categoryId=001">문학</a></li>
                                        <li><a href="/list?categoryId=002">비문학</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sidebar-widget-area">
                                <h5 class="title">광고</h5>
                                <a href="#"><img src="img/bg-img/ad1.jpeg" alt=""></a>
                                <a href="#"><img src="img/bg-img/ad2.jpeg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</html>