<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<main layout:fragment="content" class="main">
    <div class="container" style="margin-top:80px;">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <a href="/list" class="btn">전체</a>
                <a href="/list?categoryId=1" class="btn">문학</a>
                <a href="/list?categoryId=2" class="btn">비문학</a>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">카테고리</th>
                        <th scope="col">도서명</th>
                        <th scope="col">도서저자</th>
                        <th scope="col">출판사</th>
                        <th scope="col">#</th>
                    </tr>
                    </thead>

                    <tbody>
                    <!-- #lists.size(리스트 객체 키값) -->
                    <tr th:if="${#lists.size(lists)} > 0" th:each="book:${lists}">
                        <th scope="row" th:text="${book.bookCategory.categoryName}"></th>
                        <td>
                            <a th:href="|@{${articleUrl}}&bookId=@{${book.bookId}}|" th:text="${book.bookName}"></a>
                        </td>
                        <td th:text="${book.bookPubDate}"></td>
                    </tr>

                    <!-- 등록된 포스트가 없을 경우-->
                    <tr th:if="${#lists.size(lists)} == 0">
                        <td colspan="5">등록된 게시물이 없습니다.</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <!-- 페이징 버튼 -->
        <div th:if="${#lists.size(lists)} > 0" class="row justify-content-center">
            <div class="col-lg-10">
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                        <!-- 태그로 출력 시 [(${변수})] 이용-->
                        <!-- 텍스트로 출력 시 [[${변수}]] 이용-->
                        [(${pageIndexList})]
                    </ul>
                </nav>
            </div>
        </div>

        <!-- 검색바 -->
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <form action="/list" method="post" name="searchForm">
                    <div class="row">
                        <div class="col-lg-3 px-1">
                            <select name="searchKey" class="form-control">
                                <option value="book_name" th:selected="${searchKey} == 'book_name'">제목</option>
                                <option value="book_author" th:selected="${searchKey} == 'book_author'">저자</option>
                            </select>
                        </div>
                        <div class="col-lg-6 px-1">
                            <input type="text" name="searchValue" class="form-control" placeholder="검색어입력" th:value="${searchValue}"/>
                        </div>
                        <div class="col-lg-3 px-1">
                            <input type="button" value=" 검색 " class="btn btn-secondary" style="height: 100%;" onclick="sendIt()"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<!-- 각 페이지의 JS가 작성될 위치지정 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function sendIt() {
            var f = document.searchForm;
            var str = f.searchValue.value; //검색어
            str = str.trim(); //글자 양쪽 공백 제거

            if(!str) {
                alert("검색어를 입력하세요.");
                f.searchValue.focus(); //input 창에 포커스
                return;
            }

            f.submit(); //form 태그 안의 내용을 전송
        }
    </script>
</th:block>
</html>