<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<main layout:fragment="content" class="main">

    <div class="container">
        <h2>책 대여</h2>

        <div class="book-details">
            <h3>책 제목: <span th:text="${book.bookName}"></span></h3>
            <p>저자: <span th:text="${book.bookAuthor}"></span></p>
            <p>출판사: <span th:text="${book.bookPublisher}"></span></p>
            <p>소개: <span th:text="${book.bookIntro}"></span></p>
            <p>출판 일자: <span th:text="${book.bookPubDate}"></span></p>
            <p>대여 상태: <span th:text="${book.bookRent != null ? book.bookRent.rentStatus : '없음'}"></span></p>
            <p>대여 날짜: <span th:text="${book.bookRent != null ? book.bookRent.rentDate : '없음'}"></span></p>
        </div>

        <form id="rentForm" method="post" th:action="@{/insertRent}">
            <input type="hidden" name="bookId" th:value="${book.bookId}" />
            <input type="hidden" name="id" th:value="${id}" />
            <input type="hidden" name="rentStatus" th:value="${book.bookRent != null ? book.bookRent.rentStatus : ''}" />
            <button type="submit" class="btn btn-primary"
                    th:if="${book.bookRent.rentStatus == null}">대여하기</button>
            <button type="submit" class="btn btn-primary"
                    th:unless="${book.bookRent.rentStatus == null}">대여불가</button>
        </form>

        <a href="/list" class="btn btn-secondary">목록으로 돌아가기</a>
    </div>

</main>

<!-- 각 페이지의 JS가 작성될 위치지정 -->
<th:block layout:fragment="script">
    <script th:src="@{plugins/ckeditor5/build/ckeditor.js}"></script>

    <script th:inline="javascript">
        function beforeSubmit() {
            const f = document.postForm;

            if(f.bookName.value == '') {
                alert('제목을 등록해주세요.');
                return;
            }

            f.submit(); //전송
        }
    </script>
</th:block>

</html>