<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<main layout:fragment="content" class="main">
    <div class="container write_container1" style="padding-bottom: 30px">
        <div class="row align-items-end">
            <div class="col-12 col-lg-4">
                <div class="single-blog-area clearfix ">
                    <div class="single-blog-content">
                        <div class="line"></div>
                        <a href="#" class="post-tag">Original</a>
                        <h4>
                            <a href="/list" class="post-headline">도서 정보</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container write_container2">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                    <div>
                        <div class="mb-5 text-center">
                            <div>
                                <a class="post-category font-extra text-color text-uppercase font-sm letter-spacing-1"
                                   href="#" th:text="${book.bookCategory.categoryName}"></a>
                                <h2 class="post-title mt-2" th:text="${book.bookName}"></h2>
                            </div>
                            <img th:src="${'/img/book-img/' + book.bookImg}" />
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-12 text-center">
                                <div class="row">
                                    <div class="col-2 text-left">저자</div>
                                    <div class="col-4" th:text="${book.bookAuthor}"></div>
                                    <div class="col-2 text-left">대여</div>
                                    <div class="col-4">
                                        <span th:if="${book.bookRent.rentStatus == null}">대여가능</span>
                                        <span th:unliss="${book.bookRent.rentStatus == null}" th:text="${book.bookRent.rentStatus}"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2 text-left">출판사</div>
                                    <div class="col-4" th:text="${book.bookPublisher}"></div>
                                    <div class="col-2 text-left">출판일</div>
                                    <div class="col-4" th:text="${book.bookPubDate}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2 text-left">책소개</div>
                                    <div class="col-10 text-left" th:text="${book.bookIntro}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="tags-share-box center-box d-flex text-center justify-content-center border-top border-bottom py-3">
                                <div th:if="${session.userGrade} == 'admin'">
                                    <button>
                                    <a th:onclick="|location.href='rewrite?bookId=@{${book.bookId}}&@{${params}}'|" style="cursor:pointer;">수정</a>
                                    </button>
                                    <button>
                                        <a onclick="deleteBook(); return false;" style="cursor:pointer;">삭제</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</main>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function deleteBook() {
            const result = confirm("해당 도서를 삭제하시겠습니까?");
            const url = '/delete/' + [[${book.bookId}]];

            if(result) {
                $.ajax({
				url : url,
				type : "DELETE",
				contentType : "application/json",
				dataType : "json",
				cache : false,
				success : function(result, status) {
                    console.log("result bookId: " + result + ", statusCode: " + status);
                    location.href = '/list';

				},
				error : function(jqXHR, status, error) {
                    console.log("result: " + jqXHR.responseText + ", statusCode: " + status);
				    alert(jqXHR.responseText);

                    //삭제 권한이 없거나 로그인이 풀리면 로그인 페이지로 이동
				    if(jqXHR.status == '401') { //unauthorized 상태
                        location.href = '/login';
				    } else {
				        alert(jqXHR.responseText);
				    }
				}
			  });
            }
        }
    </script>
</th:block>


</html>