<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myLibrary.dao.BookDao">
    <resultMap id="User" type="User">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_pw" property="userPw" />
        <result column="user_name" property="userName" />
        <result column="user_grade" property="userGrade" />
    </resultMap>

    <resultMap id="BookCategory" type="BookCategory">
        <result column="category_id" property="categoryId"/>
        <result column="category_name" property="categoryName"/>
    </resultMap>

    <resultMap id="Book" type="Book">
        <result column="book_id" property="bookId"/>
        <result column="book_name" property="bookName"/>
        <result column="book_author" property="bookAuthor"/>
        <result column="book_summary" property="bookSummary"/>
        <result column="book_pubdate" property="bookPubDate"/>
        <result column="book_regdate" property="bookRegDate"/>
        <result column="id" property="id"/>
        <result column="category_id" property="categoryId"/>

        <collection property="id" resultMap="User"/>
        <collection property="categoryId" resultMap="BookCategory"/>
    </resultMap>

    <select id="getPostList" parameterType="map" resultType="Post" resultMap="Post">
        SELECT * FROM (
        SELECT rownum rnum, DATA.* from
        (SELECT b.book_id, b.book_name, b.book_author, b.book_summary, b.book_pubdate, TO_char(b.book_regdate, 'YYYY-MM-DD') book_regdate,
        c.category_id, c.category_name
        FROM BOOK b, BOOK_CATEGORY c WHERE b.category_id = c.category_id AND b.id = 1
        ORDER BY b.book_id DESC) DATA
        )
        <![CDATA[
            WHERE rnum >= #{start} AND rnum <= #{end}
        ]]>
    </select>
</mapper>