<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- ##### Header Area Start ##### -->
<header th:fragment="header" class="header-area">
    <!-- Top Header Area -->
    <div class="top-header">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Breaking News Area -->
                <div class="col-12 col-sm-8">
                    <div class="breaking-news-area">
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                                <li th:if="${session.userName == null}"><a href="#" style="color: #009bbb; font-weight: bold">Hello Guest님</a></li>
                                <li th:if="${session.userName != null}"><a href="#" th:text="'Hello ' + ${session.userName} + '님'" style="color: #009bbb; font-weight: bold"></a></li>
                                <li><a href="#" style="font-weight: bold">Hello World</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Top Social Area -->
                <div class="col-12 col-sm-4">
                    <div class="top-social-area">
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Language"><i class="fa fa-globe" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Logo Area -->
    <div class="logo-area text-center">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <a href="/" class="original-logo"><img src="img/core-img/logo.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Nav Area -->
    <div class="original-nav-area" id="stickyNav">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between">

                    <!-- Subscribe btn -->
                    <div class="subscribe-btn">
                        <a th:if="${session.userName == null}" href="/login" class="btn">로그인</a>
                        <span th:unless="${session.userName == null}">
                            <a href="/logout" class="btn">로그아웃</a>
                        </span>
                    </div>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu" id="originalNav">
                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="#">Book</a>
                                    <ul class="dropdown">
                                        <li><a href="/list">전체</a></li>
                                        <li><a href="#">카테고리</a>
                                            <ul class="dropdown">
                                                <li><a href="/list?categoryId=1">문학</a></li>
                                                <li><a href="/list?categoryId=2">비문학</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Service</a>
                                    <ul class="dropdown">
                                        <li><a href="#">대여</a>
                                            <ul class="dropdown">
                                                <li><a href="#">대여현황</a></li>
                                            </ul>
                                        </li>
                                        <li th:if="${session.userGrade == 'admin'}"><a href="#">관리</a>
                                            <ul class="dropdown">
                                                <li><a href="#">도서확인</a></li>
                                                <li><a href="#">도서등록</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/">About</a></li>
                                <li><a href="/">Contact</a></li>
                            </ul>

                            <!-- Search Form  -->
                            <div id="search-wrapper">
                                <form action="#">
                                    <input type="text" id="search" placeholder="Search something...">
                                    <div id="close-icon"></div>
                                    <input class="d-none" type="submit" value="">
                                </form>
                            </div>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

</html>