<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Footer Start -->
<footer class="footer-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Footer > Nav -->
                <div class="classy-nav-container breakpoint-off">
                    <nav class="classy-navbar justify-content-center">
                        <!-- Menu -->
                        <div class="classy-menu">
<!--                            &lt;!&ndash; close btn &ndash;&gt;-->
<!--                            <div class="classycloseIcon">-->
<!--                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>-->
<!--                            </div>-->
                            <div class="classynav">
                                <ul>
                                    <li><a href="#">회사소개</a></li>
                                    <li><a href="#">이용약관</a></li>
                                    <li><a href="#">개인정보처리방침</a></li>
                                    <li><a href="#">청소년보호정책</a></li>
                                    <li><a href="#">광고소개</a></li>
                                    <li><a href="#">문의하기</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>

                <!-- Footer Social -->
                <div class="footer-social-area mt-30">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Language"><i class="fa fa-globe" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <span>ⓒ Original. All Rights Reserved.</span>
</footer>

</html>